<header>
    <div class="container">
        <div class="container-part1">
            <div class="logo"></div>
        </div>
        <div class="container-part2">
            <ul class="categorys">
                <a class="item-a"href="#"><li class="item-li">Home</li></a>
                <a class="item-a"href="#"><li class="item-li">Blog</li></a>
                <a class="item-a"href="#"><li class="item-li">Pricing</li></a>
                <a class="item-a"href="#"><li class="item-li">Services</li></a>
                <a class="item-a"href="#"><li class="item-li">About us</li></a>
            </ul>
        </div>
    </div>
    <hr>
</header>